# Filtering Documents with Pandas

This notebook demonstrates how you can process and filter text documents using Pandas

In [4]:
import pandas

In [5]:
# ...

In [6]:
url = "https://github.com/ValRCS/BSSDH_22/raw/main/corpora/lv_old_newspapers_5k.tsv"

df_1 = pandas.read_csv(url, sep="\t")

In [7]:
df_1

,Language,Source,Date,Text
0,Latvian,rekurzeme.lv,2008/09/04,"""Viņa pirmsnāves zīmītē bija rakstīts vienīgi ..."
1,Latvian,diena.lv,2012/01/10,info@zurnalistiem.lv
2,Latvian,bauskasdzive.lv,2007/12/27,"Bhuto, kas Pakistānā no trimdas atgriezās tika..."
3,Latvian,bauskasdzive.lv,2008/10/08,Plkst. 4.00 Samoilovs / Pļaviņš (pludmales vol...
4,Latvian,diena.lv,2011/10/05,"CVK bija vērsusies Skaburska, lūdzot izskaidro..."
...,...,...,...,...
4994,Latvian,zz.lv,2011/04/25,Mākslas dienu laikā Jelgavā viesosies Baltkrie...
4995,Latvian,diena.lv,2010/05/12,"""""Melnās Piektdienas” četru pastāvēšanas gadu ..."
4996,Latvian,diena.lv,2009/09/17,Nevaru mierā nosēdēt
4997,Latvian,zz.lv,2010/02/25,Vairāki pasākumi veltīti jaunākajiem lasītājie...
4998,Latvian,ziemellatvija.lv,2008/03/29,"Pēc lidojuma, piecu stundu pavadīšanas Taškent..."